.popup {
    background-color: #fff;
    border: 1px solid #000;
    flex-wrap: wrap;
    justify-content: start;
    align-items: stretch;
    min-width: 200px;
    min-height: 437px;
    padding: 0 21px;
    display: flex;
}

@media (width <=991px) {
    .popup {
        padding: 0 20px;
    }
}

.container {
    color: #000;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 328px;
    min-width: 328px;
    min-height: 395px;
    margin: auto 0;
    padding-right: 20px;
    font-family: Clash Display Variable, -apple-system, Roboto, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
}

.headerContainer {
    text-align: center;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    display: flex;
}

.headerWrapper {
    flex: 1;
    width: 100%;
    min-width: 240px;
}

.headerContent {
    width: 100%;
}

.benefitsContainer {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding: 2px 0 10px;
    font-size: 13px;
    display: flex;
}

.benefitsWrapper {
    width: 296px;
    min-width: 240px;
}

.benefitsContent {
    width: 100%;
}

.signupPrompt {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 2px 0 1px;
}

.imageContainer {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 330px;
    min-width: 330px;
    min-height: 210px;
    display: flex;
}

.heroImage {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    flex: 1;
    width: 351px;
    min-width: 351px;
    max-width: 100%;
    min-height: 252px;
}