.benefitsListContainer {
    width: 100%;
    margin-top: 20px;
}

.benefitsList {
    width: 100%;
    padding-left: 48px;
}

@media (width <=991px) {
    .benefitsList {
        padding-left: 20px;
    }
}

.benefitItem,
.benefitItemMedium,
.benefitItemLarge {
    justify-content: start;
    align-items: center;
    width: 100%;
    line-height: 1;
    display: flex;
}

.benefitItemMedium,
.benefitItemLarge {
    font-size: 14px;
}

.earlyAccess {
    align-self: stretch;
    width: 129px;
    margin: auto 0;
}

.privateSales {
    align-self: stretch;
    width: 178px;
    margin: auto 0;
}

.specialGifts {
    align-self: stretch;
    width: 220px;
    margin: auto 0;
}

.personalInvitations {
    align-self: stretch;
    width: 204px;
    margin: auto 0;
}

.exclusiveContent {
    align-self: stretch;
    width: 191px;
    margin: auto 0;
}