.mainContainer {
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 61px;
    width: 100%;
    max-width: 1291px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 82px 20px;
    display: flex;
}

.contentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1243px;
    height: auto;
    display: flex;
    position: relative;
}

.heroSection {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    display: flex;
}

@media (width <=640px) {
    .heroSection {
        flex-direction: column !important;
        align-items: center !important;
    }
}

.heroImage {
    aspect-ratio: 507/492;
    object-fit: cover;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 507px;
    height: auto;
    display: flex;
}

.textContent {
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    gap: 20px;
    min-width: 300px;
    display: flex;
}

@media (width <=640px) {
    .textContent {
        align-items: center !important;
    }
}

.topDivider {
    background-color: #0e0c0a;
    width: 100%;
    max-width: 306px;
    height: 1px;
    margin-bottom: 20px;
}

.headingGroup {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    display: flex;
}

.aboutUsHeader {
    color: #0e0c0a;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font: 700 96px Clash Display, sans-serif;
    display: flex;
}

.aboutUsTitle {
    color: #0e0c0a;
    font: 700 96px Clash Display, sans-serif;
    margin: 0;
}

@media (width <=991px) {
    .aboutUsTitle {
        font-size: 64px !important;
    }
}

@media (width <=640px) {
    .aboutUsTitle {
        text-align: center;
        font-size: 48px !important;
    }
}

.brandNameSection {
    color: #0e0c0a;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font: 700 40px Clash Display, sans-serif;
    display: flex;
}

.brandName {
    color: #0e0c0a;
    font: 700 40px Clash Display, sans-serif;
    margin: 0;
}

@media (width <=991px) {
    .brandName {
        font-size: 32px !important;
    }
}

@media (width <=640px) {
    .brandName {
        text-align: center;
        font-size: 24px !important;
    }
}

.collectionSection {
    color: #0e0c0a;
    align-self: stretch;
    font: 700 24px Clash Display, sans-serif;
}

.collectionName {
    color: #0e0c0a;
    font: 700 24px Clash Display, sans-serif;
    margin: 0;
}

@media (width <=991px) {
    .collectionName {
        font-size: 20px !important;
    }
}

@media (width <=640px) {
    .collectionName {
        text-align: center;
        font-size: 18px !important;
    }
}

.brandDescription {
    color: #0e0c0a;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 853px;

    display: flex;
}

.descriptionText {
    color: #0e0c0a;

    margin: 0;
}

.bottomDivider {
    background-color: #0e0c0a;
    width: 100%;
    max-width: 706px;
    height: 1px;
}